.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: flex-start; /* Align items to the left */
  align-items: center;
  padding: 10px 20px;
  z-index: 999;
}

.top-nav .logo {
  font-size: 24px;
  font-weight: bold;
  background: linear-gradient(0deg, #FF0000, #0000FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 20px; /* Add space between logo and links */
}
.top-nav .logo:hover {
  transform: scale(1.1)
}


.top-nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.top-nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.top-nav ul li a:hover {
  font-weight: bold;
  background: linear-gradient(0deg, #FF0000, #0000FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translatey(-5px);
}
/* Push content down so it's not hidden under fixed nav */

.content {
  margin-top: 80px;
}